<html xmlns="http://www.w3.org/1999/xhtml">
<!--<head>-->
<!--    <title>КлиентЫ</title>-->
<!--    <script>-->
<!--        function getUserById() {-->
<!--            const userIdTextBox = document.getElementById('userIdTextBox');-->
<!--            const userDataContainer = document.getElementById('userDataContainer');-->
<!--            const id = userIdTextBox.value;-->
<!--            //fetch('api/user?id=' + id)-->
<!--            fetch('api/user/' + id)-->
<!--                .then(response => response.json())-->
<!--                .then(user => userDataContainer.innerHTML = JSON.stringify(user));-->
<!--        }-->
<!--    </script>-->
<!--</head>-->

<!--<body>-->
<!--<h4>Создать Клиента</h4>-->
<!--<input type="text" id = "userIdTextBox" value="3" placeholder="Введите id пользователя">-->
<!--<button onclick="getUserById()">Получить</button>-->
<!--<pre id = "userDataContainer"></pre>-->

<head>
    <title>Клиенты</title>
</head>

<body>
<h4>Добавить клиента</h4>
<form action="clients" method="post">
    <input type="text" name="clientNameTextBox" placeholder="Имя">
    <input type="text" name="clientStreetNameTextBox" placeholder="Название улицы">
    <input type="text" name="clientPhoneTextBox" placeholder="Номера телефонов(через ';')">
    <input type="submit" value="Добавить клиента">
</form>

<h4>Список клиентов</h4>
<table style="width: 700px">
    <thead>
        <tr>
            <td style="width: 50px">Id</td>
            <td style="width: 200px">Имя</td>
            <td style="width: 300px">Название улицы</td>
            <td style="width: 300px">Номера телефонов</td>
        </tr>
    </thead>
    <tbody>
    <#list clientDtoList as client>
        <tr>
            <td scope="row">${client.id}</td>
            <td>${client.name}</td>
            <td>${client.addressStreet}</td>
            <td>${client.phoneNumber}</td>
        </tr>
    </#list>
    </tbody>
</table>
</body>
</html>
